/*New*/
body{
  margin: 0;
}
/* Login */
.login-bg-image{
    background-image: url("./jpn.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container{
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  margin-left: 0;

}
.login-content-bg{
  max-width: 430px;
  height: 380px;

  background-color: transparent;
}
.logo-img{
  padding-bottom: 3%;
}
.logo-img img{
  width: 18%;
}
.img-logo-login {
    height: 12.5vh !important;
    width: 12.5vh !important;
    margin: -7.5vh 0px 0px 0px;
    border-radius: 50%;
}
.login-client-title{
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font-size: .8rem;
}
.login-form-control{
  height: 50px;
}
.login-icon-color{
  color: #cecdcb;
}
.login-input-group-text{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #790604;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  padding: 0 15px;
}
.btn-orange{
  background-color: #790604 ;
  color: #fff;
  font-size: 1.2em;
  width: 50%;
  height: 50px;
}
.text-orange{
  color: #fe5f00;
}
.background-orange{
  background-color: #790604 !important;
  color: #dee2e6;
}
.background-gray{
  background-color: gray !important;
  color: #fff;
}
.login-footer{
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #790604;
}
.login-footer-container{
  position: relative;
  color:  #FFD700;
  width: 100%;
  height: 40px;
  background-color: #790604;
  margin-right: auto;
  margin-left: auto;
}

/* Navigation */
.fixed{
  position: fixed;
  background-color: rgba(32,28,20, 1);
}
.bg-image{
    background-image: url("../img/jpn.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-dark-nav{
  background-color: #e9ecef;
}
.custom_i{
  font-weight: bold;
  font-style: italic;
  margin-right: 3px;
}
.nav-bar-top{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0;
  box-shadow: 4px -2px 12px -1px #333;
  background-color: #790604
}
.navbar-title{
  display: inline-block;
  color: #790604 ;
  font-size: 1.4em;
  background: #ffb7c5;
  padding: 8px 15px;
}
.navbar-title:hover, .navbar-title:focus {
  text-decoration: none;
  color: #111;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active{
  color:  #f99245;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus{
  color: #ffb7c5;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding: 0.7rem;
}
.nav-notif{
  position: absolute;
  top: -45%;
  left: 5%;
  z-index: 100;
}
.nav-profile{
  display: flex;
  align-items: center;
}
.avatar{
  position:relative;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
.nav-profile-dropdown{
  margin: 10% 0 0 0;
  text-align: right;
}
.dropdown-item:hover, .dropdown-item:focus{
  color: #c28285;
  background-color: transparent;
}
.nav-hardware{
  margin: 1% 0 0 2%;
  color: #fd9500;
}
/*wrapper and cotainer*/
.wrapper {
  margin-right: auto;
  margin-left:  auto;
  /*height: 875px;*/
  max-width: 1200px;
  width: 100%;
  background-color: #fff;

}
.container-fluid{
  box-shadow: 4px 0px 12px -1px #333;
}
/* footer */
.footer-bg{
  color: #111;
  background-color: rgba(242,175,117, 0.7);
}
.footer-container:after{
  box-shadow: 15px 0 15px -15px inset;
  color: rgb(0, 2, 6);
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  right: -15px;
  width: 15px;
}
.footer-container{
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 40px;
  background-color: #790604;
  margin-right: auto;
  margin-left: auto;
}
.footer-content{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.footer-client-logo{
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.footer-gti-logo{
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

/* hardware management*/
.hardware-img-bg{
  background-image: url("../img/hardware-bg.png");
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.category_position{
    position: absolute;
    right: 5%;
    bottom: 10%;
}
.custom-select-gateway option{
    background-color: #fff;
    color: #111;
}
.hardware-input-group-text{
  background-color: #e9ecef00;
  border: 1px solid #d4d4d4;
}
.hardware-right-pane{
  border-radius: 1%;
  overflow: hidden;
  box-shadow: 2px 5px 12px 0px #6b6b6b;
  background-image: linear-gradient(220deg, rgba(19, 107, 195, 0.1),rgba(0, 0, 0, 0.3));
  border: 1px solid rgba(107,107,107,0.1);
}
.box-inside-right-pane{
    border: 1px solid rgba(158,158,158..5);
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 3%;
    background: #b3b4b4;
    border-radius: 10px;
    animation: fadein 2s;
}
.hardware-action-position{
    position:absolute;
    right: 5px;
    z-index: 5;
}
.hardware-img-right-pane{
    z-index: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 98%;
}
.hardware-right-pane-details{
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
}
.divider-line{
  border-bottom: 1px solid #111;
  margin-top: 5px;
}
.divider-line-2{
  border-bottom: 1px solid #111;
}
.divider-line-white{
  border-bottom: 1px solid #fff;
  margin-top: 5px;
}
.view {
  border-color: transparent;
  background-color: initial;
  color: initial
}
.grow{
  flex-grow: 1;
  transition: all 600ms ease;
}
.shrink{
  flex-shrink: 1;
  transition: all 600ms ease;
}

.fade-in{
    animation: fadein 1s;
}
/* table */
table>tbody>tr:hover{
  background-color: #fff;
  color: #111;
  cursor: pointer;
}
/* custom pagination */
.custom-pagination-position{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.pagination-position{
  position: absolute;
  left: 50%;
  right: 50%;
  top: 90%;
}
.pagination-round{
  width:2%;
}
.page-item-custom.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    border-radius: 50%;
    padding: 5px;
    border-radius: 50%;
    margin: 0 3px;
}
.page-item-custom .page-link{
    z-index: 1;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 50%;
    padding: 5px;
    border-radius: 50%;
    margin: 0 3px;
}
.page-item-custom:last-child .page-link,.page-item-custom:first-child .page-link {
    border-radius: 50%;
}
.page-number.active .page-link-custom, .page-number .page-link-custom {
    border-radius: 50%;
    background-color: #fe5f00;
    border-color: #fe5f00;
    margin: 0 2px;
}
.page-number.disabled .page-link-custom{
  background-color: transparent;
  border-color: transparent;
  color: #111;
}
.page-link-custom, .page-number .page-link-custom{
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
  margin: 0 2px;
  color: #fff;
}
.page-link-custom:focus{
  box-shadow: none;
}
.page-link-custom{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #007bff;
    border: 1px solid #dee2e6;
}
/*custom nav tab*/
/* tabs blue*/
.tab-bg-blue{
  background-color: #ffb7c5;

  color: #790604;
  box-shadow: 4px 2px 12px 0px #999;
}
.nav-tabs .nav-header-blue.active,
.nav-tabs .nav-header-blue.show{
    position: relative;
    background-color: #ffb7c5;
    color: #52253a;
    border-color: transparent;
    border-radius: inherit;
}
.nav-tabs .nav-header-blue{
    position: relative;
    background-color: #0d2c50;
    color: white;
    border-color: transparent;
    border-radius: inherit;
}
.nav-tabs .nav-header-blue:hover,
.nav-tabs .nav-header-blue:focus {
    border-color: transparent;
}
.nav-tabs .nav-header-blue:after {
    content: " ";
    position: absolute;
    display: block;
    width: 12%;
    height: 106%;
    top: -1px;
    left: 100%;
    z-index: -1;
    background: #ffb7c5;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(18deg, 180deg);
    z-index: 10;
    color: rgb(0, 0, 0);
}
.nav-tabs .nav-header-blue.active:after {
    content: " ";
    position: absolute;
    display: block;
    width: 12%;
    height: 106%;
    top: -1px;
    left: 100%;
    z-index: -1;
    background: #790604;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(18deg, 180deg);
    z-index: 10;
}
/* tabs gray*/
.tab-bg-gray{
  background-color: rgba(0, 0, 0, 0.58);
  background-image: linear-gradient(180deg, rgb(44, 86, 123),rgba(44, 86, 123, .3));
  color: #fff;
  box-shadow: 4px 2px 12px 0px #999;
}
/* tabs dark gray*/
.tab-bg-dark-gray{
  background-image: linear-gradient(180deg, rgba(125, 125, 125, 0.8),rgba(111, 111, 111, 0.3));
  box-shadow: 4px 2px 12px 0px #999;
}
.nav-tabs .nav-header-dark-gray.active,
.nav-tabs .nav-header-dark-gray.show{
    position: relative;
    background-color: #828e97;
    color: #fff;
    border-color: transparent;
    border-radius: inherit;
}
.nav-tabs .nav-header-dark-gray{
    position: relative;
    background-color: #0d2c50;
    color: white;
    border-color: transparent;
    border-radius: inherit;
}
.nav-tabs .nav-header-dark-gray:hover,
.nav-tabs .nav-header-dark-gray:focus {
    border-color: transparent;
}
.nav-tabs .nav-header-dark-gray:after {
    content: " ";
    position: absolute;
    display: block;
    width: 12%;
    height: 106%;
    top: -1px;
    left: 100%;
    z-index: -1;
    background: #0d2c50;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(18deg, 180deg);
    z-index: 10;
    color: rgb(0, 0, 0);
}
.nav-tabs .nav-header-dark-gray.active:after {
    content: " ";
    position: absolute;
    display: block;
    width: 12%;
    height: 106%;
    top: -1px;
    left: 100%;
    z-index: -1;
    background: #828e97;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(18deg, 180deg);
    z-index: 10;
}
.nav-tabs .nav-margin{
  margin-bottom: 0px;
}
.nav-line{
  border-bottom: transparent;
}
.nav-tabs .nav-header-gray.active,
.nav-tabs .nav-header-gray.show{
    position: relative;
    color: #111;
    border-color: transparent;
    border-radius: inherit;
    background-color: rgb(204,204,205);
    mix-blend-mode: multiply;
    margin-bottom: 0px;
}
.nav-tabs .nav-header-gray{
    position: relative;
    color: #111;
    border-color: transparent;
    border-radius: inherit;
    background-color: rgb(204,204,205);
    mix-blend-mode: multiply;
    margin-bottom: 0px;
}
.nav-tabs .nav-header-gray:hover,
.nav-tabs .nav-header-gray:focus {
    border-color: transparent;
}
.nav-tabs .nav-header-gray:after {
    content: " ";
    position: absolute;
    display: block;
    width: 17%;
    height: 106%;
    top: -1px;
    left: 100%;
    z-index: -1;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(18deg, 180deg);
    z-index: 10;
    background-color: rgb(204,204,205);
}
/* binding */
.vh-40{
  height: 40vh;
}
.target-devices>div{
  cursor: pointer;
}
.target-devices>div:hover{
  background-color: #fff;
  color: #111;
}
.line-height-1{
  line-height: 1.5;
}

/* modal */
.modal-background{
  background-color: rgba(10, 10, 10, 0.86);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
/* spinner */
.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scan-bg{
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  border-radius: 10px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacitbacky:1;
    }
}
/*Sampleeee*/
@keyframes slideLeft {
    from {
        flex:initial;
    }
    to {
        flex: auto !important;
    }
}
@keyframes slideCenter {
    from {
        flex:auto;
    }
    to {
        flex:initial !important;
    }
}
.slideLeft{
  animation: slideLeft 0.5s;
  flex: auto !important;
}
.slideCenter{
  animation: slideCenter 0.5s;
  flex: none  !important;
}
@media only screen and (max-width: 768px){
  .nav-hardware{
    margin: 0;
    border: 0;
    color: #fd9500;
    background-color: rgba(255, 255, 255, 1);
  }
  .navbar-dark .navbar-nav .nav-link{
    color: #fff;
    padding: .5rem;
  }
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus{
    color: #fff;
    background-color:F8077ED;
  }
  .footer-bg{
    /*background-color: #69696a;*/
    background-color: rgba(242,175,117, 0.7);
  }
  .footer-container:before,.footer-container:after{
    color: rgba(0, 2, 0, 0);
    right: 0;
  }
  .nav-profile-dropdown{
    margin: 0;
    border: transparent;
  }
  .navbar-nav .dropdown-menu {
    border-radius: 0;
  }
  .nav-notif {
    top: unset;
    left: unset;
    right: 0;
  }
  .online-summary{
    margin-top: 20px;
  }
}
